h1{
   font-size: 20px;
   font-family: cursive, Courier, monospace;
   text-shadow: blue;
   text-align: center;
}
form {
    line-height: 100px;
    height: 100px;
    width: 500px;
    border: 1px solid green;
    text-align: center;
    float: right;
    position: inherit;
    right:300px;
     
}
p{
    font-size: 20px;

}
button{
     align-self: center;
     background-color: rgb(134, 139, 148);
     transition-duration: 0.4s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     float: right;
     position: inherit;
     right:400px ;
     top: 75px;
     width: 200px;
      border-radius: 50%;
     align-content: top;
}
button:hover {
    color:green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
body {
    background-image: url(img/african-black-background.jpg);
    background-image: no-repeat;
    
}